
<h1>Welcome to 
<i class="fa-solid fa-book"></i>
<strong>Bookers</strong>!
</h1>

<p>In Bookers</p>

<p>
you can share and exchange your opinions , 
inpressions , and emotions about various books!
</p>

<div>
    <a class="btn btn-color">
    <%= link_to "Log in", new_user_session_path %>
    </a>
</div>
<div>    
    <a class="btn btn-color">
    <%= link_to "Sign up", new_user_registration_path %>
    </a>
</div>